    @charset "UTF-8";

    @import url('https://fonts.google.com/specimen/Open+Sans');

    body {
        background-color: beige;
    }

    /* Estilo para o cabeçalho */
    header {
        background-color: #333;
        color: white;
        padding: 20px;
        text-align: center;
    }

    /* Estilo para o conteúdo */
    main {
        padding: 20px;
    }

    /* Estilo para o rodapé */
    footer {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 10px;
    }
    button{
        background-color: beige;
        color: black;
        text-align: center;
        padding: 10px 20px;
        border-radius: 12px
    }

    nav > ul{
        display: flex;
        list-style: none;
        gap: 16px;
        font-size: 20px;
    }

    nav > a {
        text-decoration: none;
    }